*{
    padding: 0;
    margin: 0;
}
html{
    width: 100%;
    height: 100%;
}
body{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
p {
    font-family: Avenir;
    font-weight: 100;
    font-size: 25px;
    word-spacing: 0.15em;
    letter-spacing: 0.05em;
    line-height: 1.4em;
    color: rgb(138, 138, 138);
}
h1{
    font-family: Avenir, sans-serif;
    font-size: 50px;
    color: #363698;
    padding-bottom: 10px;
}
.form{
    width: 50%;
}
form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
form *{
    display: block;
    font-size: 25px;
    font-family: Avenir;
    border:none;
    border-bottom: 2px solid #363698;
    outline: none;
    margin: 20px;
    box-sizing: border-box;
    padding: 10px;
}
form input[type="submit"]{
    width: 110px;
    color: white;
    background-color: #363698;
    border-radius: 5px;
}